/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font for the whole page */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #00cc99;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 2em;
}

/* Style the navigation menu */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
  

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #00cc99;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

article {
    margin-top: 20px; /* Add margin to the top */
    border: none; /* Remove the border */
    padding: 10px;
  }
  
  /* Add a thicker border-top and center it */
  article:not(:first-child) {
    border-top: 6px solid #000000; /* Increase border thickness and change color */
    margin-top: 20px; /* Add margin to the top for better centering */
  }
  
  
  article h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  article p {
    font-size: 16px;
    margin-bottom: 10px;
    display: inline; /* Add this line to make the content inline */
  }
  
  article a {
    font-size: 16px;
    color: #007BFF;
    text-decoration: none;
    margin-left: 10px; /* Add this to separate content from the link */
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex-grow: 1;
    overflow: auto;
  }
  
  footer {
    padding: 10px;
    background-color: #00cc99;
    color: #fff;
    text-align: center;
  }